NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
# CORS Settings
CORS_ORIGIN="http://localhost:3000" # Allowed CORS origin, adjust as necessary
AZURE_AD_CLIENT_ID=""
AZURE_AD_TENANT_ID=""
AZURE_AD_CLIENT_SECRET=""
DOCUMENTDB_URI=""
DOCUMENTDB_DB_NAME=""
S3_BUCKET_NAME=""
AWS_REGION=""
SOURCE_EMAIL=""
RECIPIENT_EMAILS="" # Comma-separated list of recipient emails eg: "example@presidio.com,sample@presidio.com"